//-
    name: nav
    description: Markup for the nav block
    arguments:
        - {object} props - block properties

mixin nav(props = {})
    .nav&attributes(attributes)
        .nav__logo
            a.nav__link(href="javascript:void(0);")
                img(src="img/logo.png", alt="logo")
        .nav__block
            ul.nav__list
                li.nav__item About Us
                li.nav__item projects
                li.nav__item news
                li.nav__item contact
        .nav__link
            .nav__el
                i.fab.fa-twitter
            .nav__el
                i.fab.fa-facebook-f
            .nav__el
                i.fab.fa-instagram