//-
    name: main
    description: Markup for the main block
    arguments:
        - {object} props - block properties

mixin main(props = {})
    .main&attributes(attributes)
        .container
            .main__start
                h2.main__title what we do
            .row
                .col-6
                    .main__img
                        img(src="img/what1.png", alt="what").main__logo
                .col-6
                    .main__block
                        p.main__subname One World
                        h2.main__name Trade Center
                        p.main__desc Increasing prosperity in our lives can be accomplished by having the right frame of mind. The truth is, our thoughts are very powerful.
                        button(type="submit").main__button more details
                        p.main__location <i class="fas fa-map-marker-alt"></i> New York City, United States - 1776 feet
            .row
                .col-6
                    .main__block
                        p.main__subname International
                        h2.main__name Commerce Centre
                        p.main__desc Increasing prosperity in our lives can be accomplished by having the right frame of mind. The truth is, our thoughts are very powerful.
                        button(type="submit").main__button more details
                        p.main__location <i class="fas fa-map-marker-alt"></i> Hong Kong - 1588 Feet
                .col-6
                    .main__img2
                        img(src="img/what2.png", alt="what").main__logo