//-
    name: footer
    description: Markup for the footer block
    arguments:
        - {object} props - block properties

mixin footer(props = {})
    .footer&attributes(attributes)
        .footer__block
            .footer__box
                .container
                    .row
                        .col-8.offset-2
                            .footer__links
                                .footer__logo
                                    a.footer__link(href="javascript:void(0);")
                                        img(src="img/logo.png", alt="logo")  
                                .footer__link
                                    .footer__el
                                        a.footer__link(href="javascript:void(0);")
                                            i.fab.fa-twitter
                                    .footer__el
                                        a.footer__link(href="javascript:void(0);")
                                            i.fab.fa-facebook-f
                                    .footer__el
                                        a.footer__link(href="javascript:void(0);")
                                            i.fab.fa-instagram
                            .footer__end
                                span.footer__copy Copyrights © 2017 Monticello Group  |
                                span.footer__love Made with <i class="fas fa-heart"></i> by Ga Huy
                                                    
                                            