extends ../layouts/base.pug

//- TODO: include page-specific block templates
include ../../blocks/nav/nav.pug
include ../../blocks/header/header.pug
include ../../blocks/main/main.pug
include ../../blocks/news/news.pug
include ../../blocks/gallery/gallery.pug
include ../../blocks/map/map.pug
include ../../blocks/form/form.pug
include ../../blocks/footer/footer.pug
block page
    //- TODO: add code
    +nav
    +header
    +main
    +news
    +gallery
    +map
    +form
    +footer