//-
    name: header
    description: Markup for the header block
    arguments:
        - {object} props - block properties

mixin header(props = {})
    .header&attributes(attributes)
        .swiper-container.header__sl
            .swiper-wrapper
                .swiper-slide
                    .header__bac
                        .header__img
                            img(src="img/header.png", alt="header")
                        .header__title
                            h1.header__name Simple & mordern
                            p.header__subname We make the world's beautiful every day
                        .header__arrow
                            i.fas.fa-chevron-down
                .swiper-slide
                    .header__bac
                        .header__img
                            img(src="img/header.png", alt="header")
                        .header__title
                            h1.header__name Simple & mordern
                            p.header__subname We make the world's beautiful every day
                        .header__arrow
                            i.fas.fa-chevron-down
                .swiper-slide
                    .header__bac
                        .header__img
                            img(src="img/header.png", alt="header")
                        .header__title
                            h1.header__name Simple & mordern
                            p.header__subname We make the world's beautiful every day
                        .header__arrow
                            i.fas.fa-chevron-down
                .swiper-slide
                    .header__bac
                        .header__img
                            img(src="img/header.png", alt="header")
                        .header__title
                            h1.header__name Simple & mordern
                            p.header__subname We make the world's beautiful every day
                        .header__arrow
                            i.fas.fa-chevron-down   
                .swiper-slide
                    .header__bac
                        .header__img
                            img(src="img/header.png", alt="header")
                        .header__title
                            h1.header__name Simple & mordern
                            p.header__subname We make the world's beautiful every day
                        .header__arrow
                            i.fas.fa-chevron-down
            .swiper-pagination



